body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
    font-size: 3em;
    text-align: center;
}

/* You can customize the styles further based on your preferences */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
}

nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}



p {
    font-size: 18px;
    color: #555;
}
