<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add-product</title>
    <link rel="stylesheet" href="/css/add-product.css">

</head>
<body>
    <header>
        <nav>
            <li><a href="/">Shop</a></li>
            <li><a href="/admin/add-product">add producrt</a></li>
        </nav>
    </header>
    <form action="/admin/product" method="post">
        <label for="title">Peoduct name</label><br>
        <input type="text" id="title" name="title"><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>