<%- include('includes/head.ejs') %>

</head>
<body>
    <%- include('includes/nav.ejs') %>


    <form action="/admin/product" method="post">
        <label for="title">product name</label><br>
        <input type="text" id="title" name="title"><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>