<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD Product</title>
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <header>
        <nav>
            <li><a href="/">Shop</a></li>
            <li><a href="/admin/add-product">add producrt</a></li>
        </nav>
    </header>
    <main>
        <h1>My products</h1>
        <p>List of all my product</p>
    </main>
</body>
</html>