doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Shop
        link(rel="stylesheet", href="/css/shop.css")
    body
       header.header 
            nav.nav
               li.list
                 a(href="/") Shop
               li.list
                   a(href="/admin/add-product") Add product
    main.main-content
            h1 Welcome to Our Shop!
            p Browse our exclusive products.