<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <% if(prodsdata.length > 0) { %>
        <div class="grid"> <!-- Corrected "dev" to "div" -->
            <% for (let product of prodsdata) { %>
                <article class="card__header">
                    <header style="background-color: transparent;">
                        <h1 class="product__title"><%= product.title %></h1>
                    </header>
                    
                    <div class="card__image"> <!-- Corrected "dev" to "div" -->
                        <img src="https://png.pngitem.com/pimgs/s/15-158424_a-brief-history-of-time-book-cover-hd.png" alt="A book">
                    </div>
                    <div class="card__content"> <!-- Corrected "dev" to "div" -->
                        <h2 class="product__price">Rs 19</h2>
                        <p class="product_description">A very interesting book</p>
                    </div>
                    <div>
                        <button class="btn">Add to Cart</button>
                    </div>
                </article>
            <% } %>
        </div>
        <% } else { %>
            <h1>No product Found</h1>
        <% } %>
    </main>
    <%- include('includes/end.ejs') %>

